<div class="center jumbotron">
  <h1>Welcome</h1>

  <h2>

    This is the home page for the
    <a href="http://www.railstutorial.org/">Meeting Room Booking</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>


  
</div>

