<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for '#' do |f| %>
      <br>
      Room Name:<%= f.label @userbooks.room_name %>
      <br>
      Room ID:<%= f.label  @userbooks.id, class: 'leftmarg' %>
      <br>
      Capacity:<%= f.label  @userbooks.capacity, class: 'leftmarg ' %>
      <br>
      
    <% end %>
  </div>
</div>
<style>
.leftmarg{
    margin-left: 92px;
    margin-top: -24px;
  }
</style>