<div class="row">
<div class="alert alert-success col-md-6">

  <strong>You have Successfully booked this room!</strong>

</div>
</div>
<div class="row ">
<div class="col-md-6 borderrow">
Room Name : <%= @booking.room.room_name %><br>
Capacity  : <%= @booking.room.capacity %><br>
Start Time : <%= @booking.start_at %><br>
End Time :  <%= @booking.end_at %>
</div>
</div>
<style>
.borderrow {
    
    border-width:5px;  
    border-color:#ff9900;
}
</style>
