


<div class="col-md-6 col-md-offset-3">

  <%= form_for([@room, @booking]) do |f| %>
  <%= f.hidden_field :start_at %>
  <%= f.hidden_field :end_at %>
  <%= f.submit "save", :class => 'btn btn-primary savebutton',data: { confirm: 'Are you sure to book this room' } %>

<% end %>
</div>