
<style>

.table-light-grey
{
  color:#000!important;background-color:#f1f1f1!important
}
</style>
<table class="table-light-grey">
     <thead>
     <tr>
     <th>#</th>
     <th>Room name</th>
	  <th>capacity</th>
	  <th>Facilities</th>
    <th>Book</th>
    </tr>
  
    <tr>
    </thead>
    <% .each_with_index do |booking,index| %> 
      
      <td><%= index %></td>
      <td><%= booking %></td>
      <td><%= @fac[index] %></td>
    
    <td><%= link_to "Book", bookings_new_path(:id => [index+1],:facility => booking) %></td>
     
 </tr>
  <% end %>
  </table>

