<div class="row">
  <% if @booking.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
<% end %> 

  Pick Date: <div id="calendar-view"></div>
</div>
<div class="row">
  <%= render partial: "new"%>
</div>


<script>
 $('#loginUser').hide();
var eventData,selArray = [];

if ( $('#calendar-view').children().length == 0 ) {//more than once calendar render
$('#calendar-view').fullCalendar({
events: <%= raw @booked_room.to_json %>,
eventColor: '#378006',
header: {
  left: 'prev,next today',
  center: 'title',
  right: 'month,agendaWeek,agendaDay'
},

defaultDate: "<%= Date.today%>",
defaultView:  'agendaWeek',
firstDay: (new Date().getDay()),
navLinks: true, 
selectable: true,
selectOverlap: false,
eventOverlap: false,
selectConstraint:{
start: '00:01', 
end: '23:59', 
},
selectHelper: true,
select: function(start, end) {
 
  
  //for previous dates,you cant select
	 if (moment().diff(start, 'days') > 0) {
                $('#calendar-view').fullCalendar('unselect');
                alert("you cant select previous date")
                return false;
            }

  var myDate = new Date();
  var daysToAdd = 30;
  
   myDate.setDate(myDate.getDate() + daysToAdd);
   
   if (start > myDate) {
       
       alert("You cannot book on this day!");
       return false;
   } 

eventData = {

  start: start,
  end: end,
  color  : '#337ab7'
};



$("#booking_start_at").val(JSON.stringify(eventData.start));
$("#booking_end_at").val(JSON.stringify(eventData.end));
$('#calendar-view').fullCalendar('renderEvent', eventData, true); 
$('#calendar-view').fullCalendar('unselect');
},

editable: true,
eventLimit: true,

/*eventConstraint: {
start: moment().format('YYYY-MM-DD'),
end: '2100-01-01' 
},*/

})

}

$('form').submit(function() {});


</script>


<style>

td.fc-day.fc-past {
background-color: #EEEEEE;
}
.fc-other-month .fc-day-number {display:none;}
.fc-day-number.fc-other-month {
    opacity: 0;
    filter: alpha(opacity=0); /* for IE */
}
#calendar-view {
max-width: 900px;
margin: 0 auto;
}
.fc-button-group, .fc button {
display: block;
}
.select{
width:13%;
margin-left: 20%; 
margin-top: -3%;
}
#facilities{
width: 20%;
margin-left: 18%;
margin-top: -2%;
}
.submitClass{
margin-left: 44%;
margin-top: 4%
}
.h3{
font-size:125%;
}
.serachlink{
margin-left: 45%;
}
#error_explanation{
  margin-left: 23%;
}
.savebutton{
      width: 20%;
    margin: 5% 0% 0% 43%;
}
</style>