<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for '#' do |f| %>
      
      <%= f.label :Name %>
      <%= f.text_field :Name, class: 'form-control' %>

      <%= f.label :Capacity %>
      <%= f.email_field :Capacity, class: 'form-control' %>

      <%= f.label :Facilities %>
      <%= f.password_field :Facilities, class: 'form-control' %>

      <%= link_to "Book a Room", book_new_room_path, class => 'btn btn-primary' %>
    <% end %>
  </div>
</div> 