<div class="row ">
<div class="col-md-6 borderrow">

		Room Name : <%= @booking.room.room_name %><br>
		Capacity  : <%= @booking.room.capacity %><br>
		Start Time : <%= @booking.start_at %><br>
		End Time :  <%= @booking.end_at %>
</div>
<div class="col-md-6 coloumn6">
<%= link_to "Back to Room List !", rooms_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
<style>
.coloumn6{
	margin: 4% 4% 4% 37%;
}
.borderrow {
    
    margin-left: 34%;
    margin-left: 22%;
    border-style: ridge;
    padding: 2%;
}
.alert{
	font-size: 30px;
	margin-left: 29%;
}
</style>
<script>
$( document ).ready(function() {
   $('#loginUser').hide();
});
</script>

  

  

