
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
<br><br>
  
  <%= link_to "Book a room now!", rooms_path, class: "bookclass btn btn-lg btn-success" %>

</h1>

<style>
.bookclass
{
margin-left: 68%;
margin-top: -18%;
}
</style>
<script>
$(document).ready(function() {
 $('#loginUser').hide()
});
</script>