<style>

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
.table-light-grey
{
  color:#000!important;background-color:#f1f1f1!important;
  border:1px solid #ccc;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}


</style>

<br>
<div class="row">
  <div class="col-md-12">

    <table class="table-light-grey">
      <thead>
      <tr>
        <th>#</th>
        <th>Room Name</th>
        <th>Capacity</th>
        <th>Facilities</th>
        <th>Book a Room</th>
      </tr>
      </thead>

      <tbody>
        <% @rooms.each_with_index do |room,index| %> 
          <tr>
            <td><%= index + 1%></td>
            <td><%= room.room_name %></td>
            <td><%= room.capacity %></td>
            <td><%= room.facilities.map(&:title).join(", ") %></td>
             <td><%= link_to "Book", new_room_booking_path(:room_id => room.id) %></td> 
          </tr>          
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<script>
$( document ).ready(function() {
   $('#loginUser').hide();
});
</script>